<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ToDoList</title>
</head>


<body>


<nav class="navbar navbar-light bg-light ms-3">
    {% if request.user.is_authenticated %}
    <b>Welcome, {{user.username}}</b>
  <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="navbar-brand" href="{% url 'login' %}">Login</a>
        <a class="navbar-brand" href="{% url 'register' %}">Register</a>
    {% endif %}
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% else %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{ message }}
        </div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% block content %}

{% endblock %}

</body>
</html>